

@font-face {
    font-family: 'Timeburner';
    src: url('/SDK-Website-files/design/Timeburner-xJB8.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arcade Classic';
    src: url(/SDK-Website-files/design/ARCADECLASSIC.TTF);
}
@font-face {
    font-family: 'Yoster Island';
    src: url(/SDK-Website-files/design/yoster.ttf);
}
@font-face {
    font-family: 'Cotham Sans';
    src: url(/SDK-Website-files/design/CothamSans.otf);
}
@font-face {
    font-family: 'Digitalt';
    src: url(/SDK-Website-files/design/Digitalt.ttf);
}
@font-face {
    font-family: 'Inkut Antiqua Regular';
    src: url(/SDK-Website-files/design/InknutAntiqua-Regular.ttf);
}
@font-face {
    font-family: 'Joystix Monospace';
    src: url(/SDK-Website-files/design/joystix-monospace.otf);
}
@font-face {
    font-family: 'ByteBounce';
    src: url(/SDK-Website-files/design/ByteBounce.ttf);
}
@font-face {
    font-family: 'Bedda';
    src: url(/SDK-Website-files/design/Bedda.ttf);
}
@font-face {
    font-family: 'Velvo';
    src: url(/SDK-Website-files/design/VELVO.ttf) format(truetype);
}
