@use "../util/functions" as *;
@use "../globals/fonts" as *;
@use "../util/breakpoints" as *;

#big-sec-separator {
    height: rem(3);
    width: 100%;
    all: unset;
    display: block;
    background-color: black;
}

// * {
//   outline: 1px solid red;
// }

.html, .body {
    overflow-x: hidden;
}

.contact {
    font-family: 'Digitalt';
    color: black;
    font-size: rem(80);
    // padding-bottom: 70vh;
    text-align: center;
    background-image: linear-gradient(to right, rgb(212, 200, 185), rgb(107, 128, 135));
    &__container {
        position: relative;
        display: flex;
        justify-content: center;
        padding-bottom: 40vh;
        #next-intro-project {
            & {
                position: absolute;
                bottom: 0.1%;
                left: 1%;
                color: rgba(0, 0, 0, 0.77);
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                font-family: Black Han Sans;
                font-size: rem(64);
                font-style: normal;
                font-weight: 600;
                
            }
            @include breakpoint-down('smallmedium') {
                font-size: rem(40);
                width: 50vw;
            }   
        }
    }
    &__text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        // background-color: aliceblue;
        width: 60vw;

        text-align: left;
        font-family: 'ByteBounce';
        font-size: rem(50);
        color: black;

        margin-left: rem(100);
        margin-right: rem(100);
        // border: rem(1) solid bisque;

        input {
            border-radius: 0%;
            font-family: 'ByteBounce';
            font-size: rem(30);
            outline: none;
            border: none;
            box-shadow: none;
            outline: rem(2) solid black;
        }
        input::placeholder {
            font-style: bold;
            font-family: 'ByteBounce';
        }
        &__name-input {
            margin-top: rem(40);
            position: flex;
            display: flex;
            flex-direction: column;
            width: 60vw;
            height: rem(60);
            margin-bottom: rem(20);
            input[type=text] {
                height: rem(50);
                padding-left: rem(10);
                // box-shadow: inset 0 1px 3px #ddd;
                &:focus {
                    outline: rem(2) solid black;
                    background-color: rgb(233, 233, 233);
                }
            }
        }
        &__email-input {
            position: flex;
            display: flex;
            flex-direction: column;
            width: 60vw;
            // box-shadow: 10px 10px black inset;
            height: rem(60);
            margin-bottom: rem(20);
            input[type=text] {
                height: rem(50);
                padding-left: rem(10);
                &:focus {
                    outline: rem(2) solid black;
                    background-color: rgb(233, 233, 233);
                }
            }
        }
        &__phoneNum-input {
            position: flex;
            display: flex;
            flex-direction: column;
            width: 60vw;
            height: rem(60);
            margin-bottom: rem(20);
            box-shadow: 10 10 black inset;
        
            input[type=text] {
                height: rem(50);
                padding-left: rem(10);
                &:focus {
                    outline: rem(2) solid black;
                    background-color: rgb(233, 233, 233);
                }
            }
        }
        &__email-subject-input {
            position: flex;
            display: flex;
            flex-direction: column;
            // background-color: antiquewhite;
            // border: rem(1) solid bisque;
            height: rem(50);
            margin-bottom: rem(30);
            box-shadow: 10 10 black inset;
            input[type=text] {
                height: rem(60);
                padding-left: rem(10);
                &:focus {
                    outline: rem(2) solid black;
                    background-color: rgb(233, 233, 233);
                }
            }
        }
        &__email-message-input {
            position: flex;
            display: flex;
            flex-direction: column;
            // background-color: antiquewhite;
            // border: rem(2) solid gray;
            width: 60vw;
            height: rem(80);
            margin-bottom: rem(30);
            input[type=text] {
                height: rem(150);
                text-align: left;
                padding-bottom: rem(40);
                padding-left: rem(10);
                &:focus {
                    outline: rem(2) solid black;
                    background-color: rgb(233, 233, 233);
                }
            }
        }

        input[type=submit] {
            width: rem(190);
            border: rem(3) solid black;
            border-radius: 0%;
            padding: 14px 20px;
            margin: 8px 0;
            cursor: pointer;
            display: block;
            font-size: rem(30);
            color: black;
            font-family: 'ByteBounce';

            &:hover {
                transition: background-color 0.3s ease;
                background-color: rgb(183, 183, 183);
            }
        }
    }
}
#captchaCheck {
    display: none;
}