@use "../util/functions" as *;
@use "../globals/fonts" as *;
@use "../util/breakpoints" as *;

.nav-wrap {
    overflow: visible;
    height: rem(42);
    width: rem(435);
    z-index: 30;
    position: relative;
    overflow: hidden;
    display: flex;
    @include breakpoint-down('smallmedium') {
        display: table;
        height: $top-nav-height-big;
        width: 100%;
        position: relative;
        top: 0%;
        padding: 0;
        margin: 0%;
    }
}
.menu-dropbtn {
    position: absolute;
    z-index: 40;
    display: none;
    img {
        display: none;
        visibility: hidden;
    }
    @include breakpoint-down('smallmedium') {
        background: transparent; 
        border: none;
        display: block;
        width: 100%;
        height: rem(41);
        // button {
        //     opacity: 0.1;
        // }
        img {
            visibility: visible;
            position: absolute;
            top: rem(7);
            left: rem(10);
            display: block;
            visibility: visible;
            height: rem(25);
            width: rem(25);
        }
    }
}
.nav-right {
    width: rem(350);
    height: rem(35);
    background-color: #7491b4;
    top: 0%;
    left: 50%;
    transform: translateX(24%);
    z-index: 30;

    @include breakpoint-down('smallmedium') {
        height: rem(41);
        transform: none;
        left: 0;
        width: 100%;
        position: relative;
        display: flex;
        // outline: 1px solid red;
        .container__nav--label {
            flex-direction: column;
        }
        img {
            visibility: visible;
            display: inline-block;
            position: relative;
            left: rem(10);
            top: rem(9);
            background-color: transparent;
            // outline: 1px solid red;
        }
    }
}
.nav-right.show {
    @include breakpoint-down('smallmedium') {
        height: rem(242);
    }
}
.nav-left {
    position: absolute;
    display: block;
    width: rem(35);
    height: rem(35);
    background-color: #A68359;
    top: 0;
    left: 50%;
    transform: translateX(-#{rem(168)});
    z-index: 30;
    span {
        display: none;
    }

    @include breakpoint-down('smallmedium') {
        display: none;
    }
}
.nav-left:hover {
    background-color: #c3a683;
}
.nav-left.show {
    @include breakpoint-down('smallmedium') {
        display: block;
        width: 100%;
        position: absolute;
        height: rem(39);
        left: 0;
        top: rem(41);
        transform: none;
        z-index: 200;
        span {
            display: block;
        }
    }
}
.nav-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include breakpoint-down('smallmedium') {
        visibility: collapse;
    }
}
.nav--label--table {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    span {
        padding: rem(10) rem(10);
        text-align: center;
        color: #000;
        font-family: 'Timeburner', sans-serif;
        font-size: rem(15);
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        text-decoration: none;
        visibility: collapse;
    }
    @include breakpoint-down('smallmedium') {
        span {
            visibility: visible;
        }
    }
}
.container__nav--label {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    @include breakpoint-down('smallmedium') {
        position: absolute;
        display: none;
        width: 100%;
        margin-top: rem(80);
        text-align: left;
        align-items: left;
        justify-content: flex-start;
        // outline: 1px solid red;
    }
}
.nav--label {
    padding: rem(6.25) rem(20.5);
    text-align: center;
    color: #000;
    font-family: 'Timeburner', sans-serif;
    font-size: rem(15);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-decoration: none;

    @include breakpoint-down('smallmedium') {
        height: rem(40);
        width: 100%;
        text-align: left;
        justify-content: left;
        margin: auto;
        padding: rem(10) rem(10);
        // outline: 1px solid red;
    }
}
.container__nav--label.show {
    @include breakpoint-down('smallmedium') {
        display: flex;
    }
}
#nav-item-separator {
    display: none;
    @include breakpoint-down('smallmedium') {
        height: rem(0.5);
        width: 100%;
        all: unset;
        display: block;
        background-color: black;
        z-index: 100;
    }
}
.nav--label:hover {
    text-decoration: underline;
    line-height: 150%;
    background-color: #89a2c0;
    height: rem(35);

    @include breakpoint-down('smallmedium') {
        height: rem(40);
        line-height: 150%;
    }
}

