@use "../util/functions" as *;
@use "../globals/fonts" as *;
@use "../util/breakpoints" as *;

.tagembed-widget {
    padding-bottom: rem(100);
    padding-top: rem(115);
    position: relative;
    display: flex;
    flex-direction: column;
}
.socials {
    background-color: #e1e1f0;
}
#socials-insta-intro {
    width: 100%;
    position: absolute;
    text-align: center;
    font-family: 'Digitalt';
    font-weight: 300;
    font-size: rem(70);
    left: 50%;
    transform: translateX(-50%);
    top: 0.5%;
    white-space: nowrap;
    a {
        width: 100%;
        overflow: hidden;
    }
    span {
        position: relative;
        width: 100%;
        display: inline-block;
        color: black;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 9.2vw;
        overflow: hidden;
    }
    span:hover {
        text-decoration: underline;
        color: #131947;
    }
    @include breakpoint-down('smallmedium') {
        span {
            font-size: 9.2vw;
        }
        width: 100%;
    }
}
#insta-slideshow-header-subtext {
    color: #1e1e0f;
    font-family: 'Digitalt';
    display: inline-block;
    font-size: rem(20);
    padding-top: rem(40);
    padding-bottom: rem(50);
    margin-bottom: rem(0);
    text-align: center;
    @include breakpoint-down('smallmedium') {
        margin-bottom: rem(50);
        padding-top: rem(0);
    }
}