@use "../util/functions" as *;
@use "../globals/fonts" as *;
@use "../util/breakpoints" as *;


body, html {
  margin: 0;
  padding: 0;
  overflow-x: auto;
  max-width: 100vw;
  max-height: 100vh;
}

.non-scrolling-words-bottom {
  & {
    position: absolute; 
    bottom: 0.1%; 
    left: 1%; 
    color: rgba(0, 0, 0, 0.77);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Digitalt';
    font-size: rem(64);
    font-style: normal;
    font-weight: 400;
  }
  @include breakpoint-down('smallmedium') {
    font-size: rem(42);
  }
}

//switch breakpoint to 750 and switch to viewport sized font-size

.side-table--statement {
  & {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(0, 0, 0, 0.77);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Black Han Sans;
    font-size: rem(64);
    font-style: normal;
    font-weight: 600; 
  }
  @include breakpoint-down('smallmedium') {
    font-size: 8vw;
  }
}

.side-table--statement-intro-container {
  & {
    position: relative;
    display: inline-block;
    // border-radius: 1rem;
    // overflow: hidden;
    width: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(rem(150));
    text-align: center;
    // border: 1px solid red;
  }
  @include breakpoint-down('smallmedium') {
    font-size: 8vw;
    width: 70%;
  }
}

.side-table--statement-intro-background {
  position: absolute;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  filter: blur(rem(30));
  z-index: 1;
  -webkit-mask-image: radial-gradient(circle at center, white 0%, transparent 100%);
  mask-image: radial-gradient(circle at center, white 0%, transparent 100%);
}

.side-table--statement-intro-text {
  & {
    position: relative;
    display: block;
    text-align: center;
    font-style: normal;
    font-size: 2vh;

    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
    margin: 0 auto;
    border-radius: rem(30);
    backdrop-filter: blur(10px);
    // -webkit-mask-image: radial-gradient(
    //   circle at center,
    //   rgba(0,0,0,1) 60%,    
    //   rgba(0,0,0,0) 100%    
    // );
    // mask-image: radial-gradient(
    //   circle at center,
    //   rgba(0,0,0,1) 60%,
    //   rgba(0,0,0,0) 100%
    // );
  }
  // transform: translateY(-rem(70));
  // text-align: center;
  @include breakpoint-down('smallmedium') {
    
  }
}

//gradient background
.fullscreen-gradient {
  position: relative;
  justify-content: space-between;
  height: rem(400);
}

.non-scrolling-words-box {
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 5%;
}

//scrolling animation
.scrolling-words-container {
  display: inline-block;
  vertical-align: middle;
  height: 8vh;
  align-items: center;
  padding: rem(10) rem(30);
  font-size: 6vw;
  font-weight: 600; 
  overflow: hidden;
  gap: 1vw;
  margin-left: rem(-30);
  position: relative;
  border: 2px solid red;
}
  
.scrolling-words-box {
  & {
  height: 11vh;
  margin: auto;
  transform: translateY(rem(50));
  float: left;
  margin-left: rem(-30);
  }
  ul {
    margin: 0 1rem;
    padding: 0;
    animation: scrollUp 40s;
      li {
          opacity: 1;
          align-items: center;
          justify-content: flex-start;
          display: flex;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          width: 100%;
          list-style: none; 
      }
    }
}
$item-count: 8;
  
@keyframes scrollUp {
    @for $i from 1 through ($item-count - 1) {
      #{($i * 12.5) - 10%}, #{$i * 12.5%} {
        transform: translateY(calc(-100% / $item-count) * $i);
      }
    }
  }