@use "../util/functions" as *;
@use "../globals/fonts" as *;
@use "../util/breakpoints" as *;


body, html {
    margin: 0;
    padding: 0;
    overflow-x: auto;
    max-width: 100vw;
    max-height: 100vh;
}

//gradient background
.fullscreen-gradient {
  position: relative;
  justify-content: space-between;
}

// .non-scrolling-words-box, .scrolling-words-box {
//   float: left;
// }

.non-scrolling-words-box {
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  position: absolute;
  top: 40%;
  left: 5%;
  // border: 2px solid red;
  display: flex;
  // align-items: center;
  // justify-content: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

//scrolling animation
.scrolling-words-container {
  display: flex;
  height: 8vh;
  align-items: center;
  padding: rem(10) rem(30);
  font-size: 6vw;
  font-weight: 600; 
  overflow: hidden;
  gap: 1vw;
  // border: 2px solid red;
}
  
.scrolling-words-box {
  @include breakpoint-down(medium) {
    transform: translateX(rem(-210));
    height: 5vh;
  }
  & {
  height: 11vh;
  margin: auto;
  overflow: hidden;
  position: absolute;
  top: 40%;
  right: 5%;
  transform: translateY(rem(50));
  // justify-content: space-between;
  // right: 10%;

  //default for large 1440px screens
  transform: translateX(rem(-275));

  }
  // border: 2px solid red;
  ul {
    margin: 0 1rem;
    padding: 0;
    animation: scrollUp 40s;
    // border: 2px solid red;
      li {
          opacity: 1;
          align-items: center;
          justify-content: flex-start;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          width: 100%;
          list-style: none; 
      }
    }
}
$item-count: 8;
  
@keyframes scrollUp {
    @for $i from 1 through ($item-count - 1) {
      #{($i * 12.5) - 10%}, #{$i * 12.5%} {
        transform: translateY(calc(-100% / $item-count) * $i);
      }
    }
  }